*{
    overflow:hidden;
    margin: 0;
}
.all{
    background-image: url(./photos/background.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.all_register{
    background-image: url(./photos/signup/signup_gradient.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.positioned{
    position: relative;
    top: -100vh;
}
@font-face {
    font-family: title;
    src: url(./fonts/scriptina.regular.ttf);
}
.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 10%;
}
.title{
    font-family: title;
    color: #fafafa;
    position: relative;
    left: 11%;
}
.home_home{
    color: #0186D5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 50%;
    top: -8vh;
}
.about_home{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 56%;
    top: -10.78vh;
}
.signup_home{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 62%;
    top: -13.58vh;
}
.login_home{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 69%;
    top: -16.5vh;
}
.contact_home{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    left: 75%;
    top: -19.2vh;
}

.blue_box{
    background-color: #0186D5;
    width: 55vh;
    height: 35vh;
    border-radius: 1%;
    position: relative;
    left: 45.25%;
    top: 1vh;
}
.black_box{
    background-color: #000000;
    opacity: 70%;
    width: 40vh;
    height: 35vh;
    border-radius: 1%;
    position: relative;
    left: 71%;
    top: -34vh;
}
.images_holder{
    background-color: #000000;
    opacity: 70%;
    width:100%;
    height: 25vh;
    position: relative;
   top: -25vh;
}
.box_title{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
}
.box_content{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    position: relative;
    top: -10vh;
    font-size: 1rem;
}
.box_button1{
    background-color: #000000;
    opacity: 70%;
    border: none;
    border-radius: 0.5vh;
    position: relative;
    top: -12vh;
    left: 5%;
    align: center;
    color: #fafafa;
    width: 23vw;
    height: 7vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bi_bi-award-fill{
    margin: 2vw;
    position: relative;
    left: 4%;
}
.box_content2{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    position: relative;
    top: -6vh;
    left: -7%;
    font-size: 0.8rem;
}
.bi_bi-cloud-arrow-up-fill{
    margin: 2vw;
    position: relative;
    top: -10vh;
    left: 4%;
}
.box_content3{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    position: relative;
    top: -18vh;
    left: -4%;
    font-size: 0.8rem;
}
.bi_bi-person-add{
    margin: 2vw;
    position: relative;
    top: -53.5vh;
    left: 50%;
}
.box_content4{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    position: relative;
    top: -59.5vh;
    left: 45%;
    font-size: 0.8rem;
}
.bi_bi-tags-fill{
    margin: 2vw;
    position: relative;
    top: -63.5vh;
    left: 50%;
}
.box_content5{
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    position: relative;
    top: -71.5vh;
    left: 53%;
    font-size: 0.8rem;
}
.bi_bi-caret-left-fill{
    margin: 4vw;
    position: relative;
    left: 10%;
}

.landscape_images{
   background-image: url(./photos/landscape_image1.jpg);
   background-size: cover;
   width: 15%;
   height: 22vh;
   position: relative;
   top: -48vh;
   left: 20%;
}
.landscape_images1{
    background-image: url(./photos/landscape_image2.jpg);
    background-size: cover;
    width: 15%;
    height: 22vh;
    position: relative;
    top: -70vh;
    left: 40%;
 }

 .landscape_images2{
    background-image: url(./photos/landscape_image3.jpg);
    background-size: cover;
    width: 15%;
    height: 22vh;
    position: relative;
    top: -92vh;
    left: 60%;
 }
 .bi_bi-caret-right-fill{
    margin: 4vw;
    position: relative;
    top: -116vh;
    left: 73%;
    opacity: 70%;
 }

.form_left{
    background-image: url(./photos/signup/signup_left1.jpg);
    background-size: cover;
    width: 25%;
    height: 70vh;
    position: relative;
    top: -10vh;
    left: 17%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    text-align: center;
} 
.form_left_login{
    background-image: url(./photos/login/login_right.jpg);
    background-size: cover;
    background-position-y: -9vh;
    width: 25%;
    height: 70vh;
    position: relative;
    top: -10vh;
    left: 17%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    text-align: center;
}
.overlay1{
    width: 100%;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    opacity: 30%;
}
.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: italic;
    font-weight: 100;
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
    position: relative;
    top: -60vh;
}
.signup_title_left{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: italic;
    font-weight: 800;
    font-size: 2rem;
    color: #fafafa;
    text-align: center;
    position: relative;
    top: -60vh;
}
.subtitle2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: italic;
    font-weight: 100;
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
    position: relative;
    top: -20vh;
}
.form_right{
    background-color: #fafafa;
    background-size: cover;
    width: 40%;
    height: 70vh;
    position: relative;
    top: -80vh;
    left: 42%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    text-align: center;
}

.signup_title_right{
    color: #0186D5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    top: 5vh;
}
.subtitle2_right{
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    position: relative;
    top: 5vh;
}
.username_signup{
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -5vw;
}
.password_signup{
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -5vw;
}
.email_signup{
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -6vw;
}
.profile_signup{
    color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: -3.5vw;
}

/* form_signup */
.username_signup_form {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: #0186D5;
  }
  .password_signup_form {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: #0186D5;
    position: relative;
    left: 0.5%;
  }
  .email_signup_form {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: #0186D5;
    position: relative;
    left: 3%;
  }
  .profile_signup_form {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: #0186D5;
    position: relative;
    left: -2.5%;
  }
  
  .username_signup_form:invalid {
    animation: justshake 0.3s forwards;
    color: red;
  }
  .email_signup_form:invalid {
    animation: justshake 0.3s forwards;
    color: red;
  }
  
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }
  .cancel_signup {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    display: inline-block;
    font-size: 15px;
    left: 16%;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   }
   
   .cancel_signup span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
   }
   
   .cancel_signup span:last-child {
    color: #fafafa;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
   }
   
   .cancel_signup:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d50c01;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
   }
   
   .cancel_signup:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
   }
   
   .cancel_signup:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
   }

.submit_signup {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    left: 16%;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   }
   
   .submit_signup span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
   }
   
   .submit_signup span:last-child {
    color: #fafafa;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
   }
   
   .submit_signup:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0186D5;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
   }
   
   .submit_signup:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
   }
   
   .submit_signup:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
   }
