body{
    margin: 0;
    overflow-x: hidden;
    background-color: #141415;
}
@font-face {
    font-family: Titles;
    src: url(./font/NewakeFont-Demo.otf);
}

h1{
    font-size: 2em;
    font-family: Titles;
    font-weight: 100;
   letter-spacing: 0.1em;
}
h2{
    font-size: 1em;
    font-family: Titles;
    font-weight: 100;
   letter-spacing: 0.1em;
}
.title{
    margin: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(#d52222,#ee23b1);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar_1{
margin: -3rem 7rem;
    background: -webkit-linear-gradient(#f1f1f1,#3a3a3a);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar_2{
    margin: 2.1rem 13rem;
        background: -webkit-linear-gradient(#f1f1f1,#3a3a3a);
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.navbar_3{
    margin: -3rem 19rem;
        background: -webkit-linear-gradient(#f1f1f1,#3a3a3a);
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .register_button{
      border: 2px solid #888;
      background: -webkit-linear-gradient(#f1f1f1,#3a3a3a);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Titles;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin: 1.2rem 70rem;
    align-self: auto;
    height: 6vh;
    width: 10vw;
    letter-spacing: 0.1em;
  }
.black_side{
    border-radius: 100rem;
    height: 80vh;
    width: 40vw;
    background:#252425;
    z-index: 1;
    margin: 1rem 45rem;
}
.pink_side{
    border-top-left-radius: 290rem;
    border-bottom-left-radius: 290rem;
    height: 76vh;
    width: 18vw;
    
    z-index: 2;
    margin: -32rem 47rem;
    animation: change 20s infinite;
}

@keyframes change {
  0%{
    background: #ee23b1;
  }
  50%{
    background: #d52222;
  }
  100%{
    background: #ee23b1;
  }
}
@keyframes change2 {
  0%{
    background: #d52222;
  }
  50%{
    background: #ee23b1;
  }
  100%{
    background: #d52222;
  }
}
.red_side{
  border-top-right-radius: 290rem;
  border-bottom-right-radius: 290rem;
  height: 76vh;
  width: 18vw;
  background: #d52222;
  z-index: 2;
  margin: 1.67rem 61.2rem;
  animation: change2 10s infinite;
}
.background_image{
  background-image: url(./photos/welcome/1.png);
  background-size: cover;
  height: 110vh;
  width: 38vw;
  margin: -41rem 46rem; ;
}
@font-face {
  font-family: subtitles;
  src: url(./font/SuitePersonalUse.ttf);
}
.lines{
  background: -webkit-linear-gradient(#f1f1f1,#3a3a3a);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: subtitles;
font-size: 3rem;
width: 30vw;
margin: 11rem  7rem;
}